<!DOCTYPE html>
<html>
<head>
	<title>Titulo de mi pagina</title>
</head>
<body>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor sequi, ab soluta eveniet aperiam laboriosam sit rem libero, 
	totam mollitia eos ratione obcaecati magni praesentium unde dignissimos quo numquam quibusdam?</p>
	<h2>sUBTITULO</h2>
	<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor sequi, ab soluta eveniet aperiam laboriosam sit rem libero, 
		totam mollitia eos ratione obcaecati magni praesentium unde dignissimos quo numquam quibusdam?</p>
		<h2>sUBTITULO</h2>
		<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor sequi, ab soluta eveniet aperiam laboriosam sit rem libero, 
			totam mollitia eos ratione obcaecati magni praesentium unde dignissimos quo numquam quibusdam?</p>
			<h2>sUBTITULO</h2>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor sequi, ab soluta eveniet aperiam laboriosam sit rem libero, 
				totam mollitia eos ratione obcaecati magni praesentium unde dignissimos quo numquam quibusdam?</p>
				<h2>sUBTITULO</h2>
				<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor sequi, ab soluta eveniet aperiam laboriosam sit rem libero, 
					totam mollitia eos ratione obcaecati magni praesentium unde dignissimos quo numquam quibusdam?</p>

</body>
</html>
